@font-face {
  font-family: "iconfont"; /* Project id 2471733 */
  src: url('iconfont.woff2?t=1619774599178') format('woff2'),
       url('iconfont.woff?t=1619774599178') format('woff'),
       url('iconfont.ttf?t=1619774599178') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon03:before {
  content: "\e601";
}

.icon-shouji-copy:before {
  content: "\e60a";
}

.icon-wangguan:before {
  content: "\e602";
}

.icon-jifen:before {
  content: "\e640";
}

.icon-gouwudai:before {
  content: "\e60b";
}

.icon-avatar:before {
  content: "\e646";
}

.icon-fuxuanyuan:before {
  content: "\e6c5";
}

.icon-xuanzhong:before {
  content: "\e612";
}

.icon-checkbox:before {
  content: "\e628";
}

.icon-dianpu:before {
  content: "\e603";
}

.icon-kefu:before {
  content: "\e604";
}

.icon-aright:before {
  content: "\e600";
}

.icon-fanhui:before {
  content: "\e617";
}

.icon-fanhuidingbu:before {
  content: "\e70c";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-wode:before {
  content: "\e61a";
}

.icon-fenlei:before {
  content: "\e7a4";
}

.icon-shouye:before {
  content: "\e620";
}

